### NLP --> Natural Language Processing
 using Machine Learning

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
## gathering data
df = pd.read_csv('train.txt',sep = ';' , header = None , names = ['text','emotion'])
df.head()

                                                text  emotion
0                            i didnt feel humiliated  sadness
1  i can go from feeling so hopeless to so damned...  sadness
2   im grabbing a minute to post i feel greedy wrong    anger
3  i am ever feeling nostalgic about the fireplac...     love
4                               i am feeling grouchy    anger

In [6]:
df.isnull().sum()

text       0
emotion    0
dtype: int64

In [10]:
unique_emotions= df['emotion'].unique()
emotion_numbers = {}
i = 0
for emotion in unique_emotions:
    emotion_numbers[emotion] = i
    i+=1

df['emotion'] = df['emotion'].map(emotion_numbers)

In [11]:
df['emotion']

0        0
1        0
2        1
3        2
4        1
        ..
15995    0
15996    0
15997    5
15998    1
15999    0
Name: emotion, Length: 16000, dtype: int64

In [13]:
## Lowercasing
df['text'] = df['text'].apply(lambda x: x.lower())

In [14]:
## Remove Punctuation
import string 
def remove_punc(txt):
    return txt.translate(str.maketrans('','',string.punctuation))

In [15]:
df['text'].apply(remove_punc)

0                                  i didnt feel humiliated
1        i can go from feeling so hopeless to so damned...
2         im grabbing a minute to post i feel greedy wrong
3        i am ever feeling nostalgic about the fireplac...
4                                     i am feeling grouchy
                               ...
15995    i just had a very brief time in the beanbag an...
15996    i am now turning and i feel pathetic that i am...
15997                       i feel strong and good overall
15998    i feel like this was such a rude comment and i...
15999    i know a lot but i feel so stupid because i ca...
Name: text, Length: 16000, dtype: object

In [16]:
## remove numbers
def remove_numbers(txt):
    new = ''
    for i in txt:
        if not i.isdigit():
            new += i
    return new

df['text'] = df['text'].apply(remove_numbers)

In [18]:
## remove emojis and special character
def remove_emojis(txt):
    new = ''
    for i in txt:
        if not i.isascii():
            new += i
    return new

df['text'] = df['text'].apply(remove_emojis)

In [20]:
## Remove stopwords
import nltk
from nltk.corpus import stopwords
stop = stopwords.words('english')