## Operators

## 1. Arithmetic Operators

In [4]:
## are--> + , - , * , / , % , // , **

In [ ]:
a = 12 
b = 4

print(a+b)
print(a-b)
print(a*b)
print(a/b) # this will provide quotient
print(a%b) # this will provide remainder
print(a//b) # this will provide quotient but it will provide floor value
print(a**b)

16
8
48
3.0
0
3
20736

In [ ]:
## 2. assignment --> = , += , -= , *= , /= , %= , //= , **= , &=
## these are used to assign values

In [9]:
a = 12
## compund assignment operations
a += 5
print(a)
a -= 5
print(a)
a *= 5
print(a)
a /= 5
print(a)
a %= 5

a=15
print(a)
a //= 5
print(a)
a **= 5
print(a)
a &= 5
print(a)

17
12
60
12.0
15
3
243
1

In [ ]:
## 3. Comparison Operators --> == , != , > , < , >= , <=
## these are used to compare values

In [ ]:
a = 20
b = 20
print(a==b)
print(a!=b)
print(a>b)
print(a<b)
print(a>=b)
print(a<=b)

True
False
False
False
True
True

In [15]:
## to compare string we need to use their ascii values
a = "A"
b = "B"
print(ord(a))
print(ord(b))
print(a==b)
print(a!=b)
print(a>b)
print(a<b)
print(a>=b)
print(a<=b)

65
66
False
True
False
True
False
True

In [12]:
## 4. Logical Operators --> and , or , not
## these are used to combine conditions

In [17]:
a = True
b = False
print(a and b) ## this return true when both are true only
print(a or b)  ## this rerurn true when any one is true
print(not a)  ## this return false when condition is true
print(not b)

False
True
False
True

In [19]:
print(15 >10 and 15 > 20)  ## t and f = f
print(15 >10 or 15 > 20)   ## t or f = t
print(15 >10 and 15 < 20)  ## t and t = t

False
True
True

In [23]:
print ( 150>100 and 100<200 and 100==100 and 100!=10 )

True

In [25]:
print(12 >10 and 10<12 or 12>10 and 10>12)

True

In [26]:
print(126 > 130)
print(456 == 456 )!= (235 == 236)
print(12<10 or 45 == 56 or 69 > 70 or 15!= 13)
print(True and bool(0))

False
True
True
False